# Options groups: read by mysqld
[mysql]
default-character-set=utf8

# SERVER PART

# port           for mysql
# datadir        stores the database
# socket         is the path where to find the socket for mysql to communicate
# bind_address   IP that can connect (here * all of the network)
# user           ajout de l'user mysql

[mysqld]
port = 3306
datadir = /var/lib/mysql
socket  = /run/mysqld/mysqld.sock
bind_address=*
user = mysql